/* HEADER CSS */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  color: white;
  background: linear-gradient( to top, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.621));
}
header h1 {
  font-size: 3em;
  font-family: "Righteous", cursive;
  font-weight: lighter;
}
header > div {
  display: flex;
  column-gap: 10em;
}

/* DATE & TIME CSS */
header > div > div {
  display: flex;
  align-items: center;
  column-gap: 3em;
  font-size: 1.5em;
  font-weight: bolder;
  font-family: "Alkatra", cursive;
}

/* THEME BUTTON CSS */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide the switch input */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

/* Style the slider's thumb */
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

/* Change the background color of the slider when toggled */
.switch input:checked + .slider {
  background-color: #222;
}

/* Move the slider's thumb to the right when toggled */
.switch input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}
